---
import { type ProjectSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends ProjectSchema {}
import { Image } from "astro:assets";

const {
  title,
  description,
  heroImage,
  updatedDate,
  url,
  urlText,
  githubRepo,
} = Astro.props;
dayjs.extend(localizedFormat);
const displayUpdatedDate = dayjs(updatedDate).format("ll")
const base = import.meta.env.BASE_URL;
---

<BaseLayout
  title={title}
  description={description}
  image={heroImage}
  ogType="article"
>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {
        heroImage && (
          <Image
            width={750}
            height={422}
            format="webp"
            src={heroImage}
            alt={title}
            class="w-full mb-6"
          />
        )
      }
      <h1 class="title mt-12 text-4xl font-bold">{title}</h1>
      
      <p>{description}</p>
      <div class="flex gap-2 mb-12"><a href={url} class="btn btn-primary">Live site</a>
        <a href={githubRepo} class="btn btn-secondary">Source code</a></div>
      <div class="divider"></div>
      <slot />
      {displayUpdatedDate && <time class="text-xs">Last updated: {displayUpdatedDate}</time>}
    </article>
  </main>
</BaseLayout>
